<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Admin Panel
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-tabs>
    <ion-router-outlet></ion-router-outlet>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="dashboard" [routerLink]="['dashboard']" routerLinkActive="tab-selected">
        <ion-icon name="grid-outline"></ion-icon>
        <ion-label>Dashboard</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="products" [routerLink]="['products']" routerLinkActive="tab-selected">
        <ion-icon name="cube-outline"></ion-icon>
        <ion-label>Products</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="categories" [routerLink]="['categories']" routerLinkActive="tab-selected">
        <ion-icon name="list-outline"></ion-icon>
        <ion-label>Categories</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
