<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="login-container">
    <div class="logo-container">
      <img src="assets/icon/app-logo.png" alt="App Logo" class="app-logo">
      <h1>ShopEase</h1>
      <p>Your one-stop shopping destination</p>
    </div>

    <div class="login-buttons">
      <ion-button expand="block" (click)="googleLogin()" class="google-btn">
        <ion-icon slot="start" name="logo-google"></ion-icon>
        Sign in with Google
      </ion-button>
    </div>

    <div class="footer-text">
      <p>By signing in, you agree to our Terms of Service and Privacy Policy.</p>
    </div>
  </div>
</ion-content>
