<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      {{ 'auth.login' | translate }}
    </ion-title>
    <ion-buttons slot="end">
      <app-language-toggle></app-language-toggle>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="login-container">
    <div class="logo-container">
      <img src="assets/icon/app-logo.png" alt="App Logo" class="app-logo">
      <h1>ShopEase</h1>
      <p>{{ 'login.tagline' | translate }}</p>
    </div>

    <div class="login-buttons">
      <ion-button expand="block" (click)="googleLogin()" class="google-btn">
        <ion-icon slot="start" name="logo-google"></ion-icon>
        {{ 'login.googleSignIn' | translate }}
      </ion-button>
    </div>

    <div class="footer-text">
      <p>{{ 'login.termsAgreement' | translate }}</p>
    </div>
  </div>
</ion-content>
